#imagenPrincipal {
    display: block;
    margin: auto;
    margin-top: 30px; 
    margin-bottom: 30px;
    max-width: 100%; 
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
}

/* Estilos para la tabla del index */
table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    color: white;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    font-family: 'Montserrat', sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1DB954;
    color: white;
}

a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

tr:hover {
    background-color: #282828; 
    transition: background-color 0.3s ease;
}




