#albums-container{
    display: grid;  /* Alinea verticalmente las tarjetas */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta las columnas automáticamente */
    gap: 20px; /* Espacio entre las cards */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.album-item {
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    transition: transform 0.2s ease-in-out;
    width: 200px; /* Tamaño fijo para dar uniformidad */
}

.album-item:hover {
    transform: scale(1.05); /* Efecto elevarse al pasar el ratón */
}

.album-item img {
    width: 150px;
    max-height: 180px;
    object-fit: cover; /* Hace que las imágenes llenen el espacio */ 
    border-radius: 10px;
}

.album-item h3 {
    font-size: 16px;
    margin-top: 10px;
}

.album-item p {
    font-size: 14px;
    color: #282828;
    margin: 5px 0;
}

.album-item a {
    display: block;
    margin-top: 5px;
    padding: 8px;
    background: #1DB954;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.album-item a:hover {
    background: #178f3f;
}





